<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Insta-Style MYM{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div class="insta-container">
        <aside class="sidebar">
            <h1 class="logo">mym</h1>
            <nav>
                <ul>
                    <li><i class="fas fa-home"></i></li>
                    <li><i class="fas fa-comment-dots"></i></li>
                    <li><i class="fas fa-search"></i></li>
                    <li><i class="fas fa-bookmark"></i></li>
                    <li><i class="fas fa-bell"></i></li>
                    <li><i class="fas fa-user"></i></li>
                </ul>
            </nav>
        </aside>

        <main class="feed">
            {% block body %}{% endblock %}
        </main>
    </div>
</body>
</html>
